{
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:jsx-a11y/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/typescript",
		"plugin:react/jsx-runtime",
		"plugin:prettier/recommended",
		"prettier"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["react", "@typescript-eslint", "import", "jsx-a11y", "react-hooks", "prettier"],
	"rules": {
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"no-var": "error",
		"brace-style": "error",
		"prefer-template": "error",
		"radix": "error",
		"space-before-blocks": "error",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"caughtErrorsIgnorePattern": "^_"
			}
		],

		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",

		"prettier/prettier": [
			"error",
			{
				"tabWidth": 4
			}
		]
	},
	"overrides": [
		{
			"files": [
				"**/*.test.js",
				"**/*.test.jsx",
				"**/*.test.tsx",
				"**/*.spec.js",
				"**/*.spec.jsx",
				"**/*.spec.tsx"
			],
			"env": {
				"jest": true
			}
		}
	],
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
