{
	"jsxSingleQuote": true,
	"singleQuote": true,
	"semi": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"printWidth": 100,
	"bracketSameLine": false,
	"useTabs": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "*.{js,jsx,tsx,ts,scss,json,html}",
			"options": {
				"tabWidth": 4
			}
		}
	]
}
